[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
optimize = "python setup.py build_ext --inplace"
compare = "python -m cribbage.compare_players"
train = "python -m cribbage.train_players"
test = "python -m unittest"
