[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
optimize = "python setup.py build_ext --inplace"
compare = "python cribbage/test_players.py"
train = "python cribbage/train_players.py"